/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #f8fafc;
  font-family: Inter, sans-serif;
}

/* MAIN PAGE */
.app-container {
  max-width: 1100px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.app-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;

  background: linear-gradient(
    90deg,
    #60a5fa,
    #818cf8
  );

  -webkit-background-clip: text;
  color: transparent;
}

/* CHAT WINDOW */
.chat-window {
  flex: 1;
  overflow-y: auto;

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 20px;

  padding: 20px;

  margin-bottom: 20px;

  backdrop-filter: blur(12px);
}

/* CHAT BUBBLES */
.chat-bubble {
  max-width: 75%;
  padding: 14px 18px;
  margin-bottom: 14px;
  border-radius: 18px;
  line-height: 1.5;
  word-wrap: break-word;
}

.chat-bubble.user {
  background: #2563eb;

  margin-left: auto;

  border-bottom-right-radius: 5px;
}

.chat-bubble.assistant {
  background: #1e293b;

  border: 1px solid rgba(255,255,255,0.05);

  margin-right: auto;

  border-bottom-left-radius: 5px;
}

.role {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 6px;
}

/* INPUT AREA */
.input-container {
  display: flex;
  gap: 10px;
}

.chat-input {
  flex: 1;

  padding: 16px;

  border-radius: 14px;

  border: none;

  outline: none;

  background: #1e293b;

  color: white;

  font-size: 15px;
}

.send-btn {
  padding: 0 24px;

  border: none;

  border-radius: 14px;

  background: #3b82f6;

  color: white;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.send-btn:hover {
  background: #2563eb;
}

.send-btn:disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* SOURCES CARD */
.sources-section {
  margin-top: 20px;
}

.source-card {
  background: #1e293b;

  padding: 14px;

  border-radius: 12px;

  margin-top: 10px;

  border: 1px solid rgba(255,255,255,.05);
}

/* AGENT TRACE */
.trace-container {
  margin-top: 20px;

  background: rgba(255,255,255,.04);

  padding: 16px;

  border-radius: 14px;
}

.trace-item {
  margin-bottom: 8px;

  color: #94a3b8;
}

/* THINKING */
.typing {
  padding: 10px;

  color: #60a5fa;

  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: .3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .3;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 20px;
}

.header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 25px;

}

.new-chat-btn {

  border: none;

  padding: 10px 18px;

  border-radius: 10px;

  background: #1f4fd1;

  color: white;

  cursor: pointer;

  font-weight: 600;

}

.new-chat-btn:hover {

  opacity: .9;

}